.container {
    box-sizing: border-box;
    width: 100%;
    font-family: sans-serif;
}

.card-block {
    position: relative;
    border-bottom: 1px solid rgb(231, 229, 229);
    padding-top: 5px;
}

.block {
    display: inline-block;
}

.img {
    width: 100px;
    height: 100px;
    position: relative;
    object-fit: cover;
    border-radius: 50% 50%;
    background-color: white;
    border: 1px solid rgb(231, 229, 229);
    margin: 0px 25px 0px 15px;
    overflow: hidden;
}

.text {
    width: auto;
    height: auto;
    position: relative;
    right: 0px;
}

.list-style {
    list-style-type: none;
    padding-left: 10px;
    margin-top: 4px;
    color: grey;
    font-family: Georgia;
    font-size: 15px;
}

.name {
    font-size: 30px;
    margin: 0px;
    text-transform: uppercase;
}

.row {
    padding-left: 150px;
    margin-top: 0px;
}
.col {
    float: right;
}

.test {
    position: relative;
}

.test1 {
    display: inline-block;
}

.next {
    margin-left: 30px;
}

